@mixin sec-basic-style {
  background-color: $bg-l-pink;
  margin-top: $margin-between-sections;
  border-radius: $border-radius;
  box-shadow: $b-shadow;
  padding: $padding-2;

  div {
    padding: $padding;
  }
  h2 {
    font-size: $h2-size;
    font-family: "Sansita", sans-serif;
    color: $pink;
    padding: 0 0 $padding;
  }
  p {
    @include texts;
  }
}
@mixin texts {
  color: $charcoal;
  font-size: $p-size;
  font-family: $p-font-family;
}
@mixin button {
  background-color: $pink;
  color: $yellow;
  font-size: 1.3rem;
  font-family: $button-font-family;
  border-radius: $border-radius;
}

@mixin button-hover {
  button:hover {
    box-shadow: $b-shadow;
    animation: heartbeat 2.2s ease-in-out 0.5s infinite both;
  }
  @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
}

@mixin dotted-border {
  border: 10px dotted $pink;
}
@mixin nav-bar {
  .nav-link {
    color: $white;
    font-size: 1.15rem;
    font-weight: 500;
    margin: 0 0.8rem;
  }
  .nav-link:hover {
    color: $pink;
  }
}

@mixin icons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;

  i {
    color: $dark-turquoise;
    font-size: 2rem;
    margin: 0 1rem;
  }
}
