$pink: #dc5d96;
$green: #04c376;
$turquoise: #46ac92;
$dark-turquoise: #2d6877;
$white: #f7f9fd;
$gray-blue: #65738a;
$yellow: #e4cd33;
$charcoal: rgb(92, 81, 81);
$black: black;
$bg-l-pink: #faeee7;
$orange-pale: #f1c0af;

$b-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.78);

$margin-between-sections: 7rem;
$margin-inside-sections: 1.5rem;

$padding: 1rem;
$padding-2: 2rem;

$h1-size: 3rem;
$h2-size: 2.3rem;
$p-size: 1.2rem;

$p-font-family: "Inter", sans-serif;

$button-font-family: "Ubuntu", sans-serif;

$border-radius: 1rem;
